# Python Pandas

### Following code has executed in Python 3.6.8 version and Pandas 0.24.2 version

## Create DataFrames

The full list of methods available in [Pandas to create new DataFrames](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [1]:
# Importing the pandas library
import pandas as pd

### Loads fata from an Excel file

In [2]:
df = pd.read_excel("weather_data.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

### Loads data from a CSV file

In [3]:
# Data reads from a csv file
# This creates a DataFrame object
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Loads data from list of Tuples

In [4]:
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]
# You need to provide the column names
column_names = ['day', 'temperature', 'windspeed', 'event']
df = pd.DataFrame(weather_data, columns = column_names)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Loads data from a list of dictionaries

In [5]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},    
]
df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

### Loads data from a dictionary

In [6]:
# Weather data in dictionary
weather_data = {
    'day': ['5/1/2019','5/2/2019','5/3/2019','5/4/2019','5/5/2019','5/6/2019'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

# Creates a new DataFrame object
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  5/1/2019           32          6   Rain
1  5/2/2019           35          7  Sunny
2  5/3/2019           28          2   Snow
3  5/4/2019           24          7   Snow
4  5/5/2019           32          4   Rain
5  5/6/2019           31          2  Sunny

In [7]:
# DataFrame rows and columns count
rows, columns = df.shape
print("Number of Rows:", rows)
print("Number of Columns:", columns)

Number of Rows: 6
Number of Columns: 4

## Read DataFrame

In [8]:
# Get initial 5 (default) rows from the DataFrame
df.head()

# Get initial 3 rows from the DataFrame
# df.head(n = 3)

        day  temperature  windspeed  event
0  5/1/2019           32          6   Rain
1  5/2/2019           35          7  Sunny
2  5/3/2019           28          2   Snow
3  5/4/2019           24          7   Snow
4  5/5/2019           32          4   Rain

In [9]:
# Get last 2 rows from the DataFrame
df.tail(2)

        day  temperature  windspeed  event
4  5/5/2019           32          4   Rain
5  5/6/2019           31          2  Sunny

### Read by Rows

In [10]:
# Get index ranges of the DataFrame
df.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
# Read all the rows
df[ : ]

        day  temperature  windspeed  event
0  5/1/2019           32          6   Rain
1  5/2/2019           35          7  Sunny
2  5/3/2019           28          2   Snow
3  5/4/2019           24          7   Snow
4  5/5/2019           32          4   Rain
5  5/6/2019           31          2  Sunny

In [12]:
# Read 3rd row
# Format - [<Start Index Inclusive> : <End Index Exclusive>]
df[2:4]

        day  temperature  windspeed event
2  5/3/2019           28          2  Snow
3  5/4/2019           24          7  Snow

### Read by Columns

In [13]:
# Get columns headers
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
# Read entire data list of one column
bycol = df['day'] 
# OR 
# bycol = df.day 
bycol

0    5/1/2019
1    5/2/2019
2    5/3/2019
3    5/4/2019
4    5/5/2019
5    5/6/2019
Name: day, dtype: object

In [15]:
# Get Column type
type(df['day'])

# Columns in the dataframe are type Series

pandas.core.series.Series

In [16]:
 # Read only sepecific set of columns - day and event columns
# NOTE: Column names are in a list
column_names = ['day', 'event']
df[column_names]

        day  event
0  5/1/2019   Rain
1  5/2/2019  Sunny
2  5/3/2019   Snow
3  5/4/2019   Snow
4  5/5/2019   Rain
5  5/6/2019  Sunny

## DataFrame Operations

The list of operations can be found in [Pandas Series Page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

In [17]:
print("Temperature:", df['temperature'].values)

# Get maximum number of given column
mx = df['temperature'].max()
print("Maximum Temperature:", mx)

# Get minimum number of given column
mn = df['temperature'].min()
print("Minimum Temperature:", mn)

# Get mean of given column
me = df['temperature'].mean()
print("Mean Temperature:", me)

# Get standard deviation of given column
sd = df['temperature'].std()
print("Standard Deviation of Temperature:", sd)

Temperature: [32 35 28 24 32 31]
Maximum Temperature: 35
Minimum Temperature: 24
Mean Temperature: 30.333333333333332
Standard Deviation of Temperature: 3.8297084310253524

In [18]:
# Print statistics quantitative data of the dataframe
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [19]:
# Print summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
day            6 non-null object
temperature    6 non-null int64
windspeed      6 non-null int64
event          6 non-null object
dtypes: int64(2), object(2)
memory usage: 272.0+ bytes

## DataFrame Conditional Selection

In [20]:
# Dataset which is going to explor
df

        day  temperature  windspeed  event
0  5/1/2019           32          6   Rain
1  5/2/2019           35          7  Sunny
2  5/3/2019           28          2   Snow
3  5/4/2019           24          7   Snow
4  5/5/2019           32          4   Rain
5  5/6/2019           31          2  Sunny

In [21]:
# Get records where the temperature >= 32
# Format - [<Condition>]
df[ df.temperature >= 32 ]

        day  temperature  windspeed  event
0  5/1/2019           32          6   Rain
1  5/2/2019           35          7  Sunny
4  5/5/2019           32          4   Rain

In [22]:
# Get the record where the temperature is maximum
df[ df.temperature == df['temperature'].max() ]

        day  temperature  windspeed  event
1  5/2/2019           35          7  Sunny

In [23]:
# Get the days where the temperature >= 32
# Format - [<Column Name>][<Condition>]
df['day'][ df.temperature >= 32 ]

0    5/1/2019
1    5/2/2019
4    5/5/2019
Name: day, dtype: object

In [24]:
# Get the day and event where the temperature >= 32
# Format - [<Column List>][<Condition>]
column_names = ['day', 'event']
df[column_names][ df.temperature >= 32 ]

        day  event
0  5/1/2019   Rain
1  5/2/2019  Sunny
4  5/5/2019   Rain